<div class="media">
    <img src="https://st3.depositphotos.com/6672868/14376/v/450/depositphotos_143767633-stock-illustration-user-profile-group.jpg" class="mr-3"  style="width:60px" alt="...">
    <div class="media-body">
      <h5 class="mt-0"><%= comment.username %></h5>
      <%= comment.commentText %>
    </div>
    
  </div>