


<div class="card text-center mt-4 mr-4 ml-2">
  <div class="card-body ">
    <a href = "/episodes/<%- episode.episodeID%>"  calls="thumbnail"><img src="/<%-episode.image %>" class="card-img-top" alt="..."></a> 
    <h5 class="card-title"><%= episode.title %></h5>
    <div class="card-desc "><%= episode.description %></div>
  </div>
</div>