 <!-- Footer -->
  <footer class="footer">

  <!-- Copyright -->
  <p class="footer-copyright text-center   text-white bg-dark m-0 p-2 ">© 2020 Copyright</p>
  <!-- Copyright -->

  </footer>
<!-- Footer -->
  </body>
</html>