<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/singin.css">
   
    <!-- Custom JavaScript -->
    <script defer src="/javascripts/logout.js"></script> 

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
    <title><%= title ? `PodcastHub | ${title}` : 'PodcastHub'%></title>
  </head>
  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark mr-auto ">
        <a href="/">
        <span class="navbar-brand mb-0">PodcastHub
        
        </span>
      </a>
        <ul class="navbar-nav mr-right">
          <li class="nav-item">
            <a class="nav-link" id="register" href="/register">register</a>
          </li>
        </ul>
      </nav>
      <div id="alert-message  ">
        <% if(message!="") { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span><%= message %></span> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %>
      </div>
    </header>

    <div class="container-fluid">
    <form class="form-signin" method="POST" action="/sessions" id="login-form">
      <img class="mb-4" src="Logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="email" class="sr-only">Email address</label>
      <input type="email"  name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password"  name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
    </div>  
  

<%- include('footer'); -%>

<!-- 
      <div class="row">
        <div class="col-8 mx-auto">
          <form method="POST" action="/sessions" id="login-form" class="col-6 mx-auto">            
            <div class="form-group">
              <label for="email">Indirizzo mail</label>
              <input type="email" name="username" class="form-control" required />
            </div>
        
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" required autocomplete/>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/register" class="btn btn-info" role="button">singup here</a>
          </form>
        </div>
    </div>
-->