<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/singin.css">
    <link rel="stylesheet" href="/stylesheets/singup.css">
   
    <!-- Custom JavaScript --> 
    <script defer src="/javascripts/register.js"></script> 

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
    <title><%= title ? `PodcastHub | ${title}` : 'PodcastHub'%></title>
  </head>
  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark mr-auto ">
        <a href="/">
        <span class="navbar-brand mb-0">
          <img  src="smallLogo.png" alt="" height="50" width="200">
        </span>
      </a>
        <ul class="navbar-nav mr-right">
          <li class="nav-item">
            <a class="nav-link" id="login" href="/login">Login</a>
          </li>
        </ul>
      </nav>
      <div id="alert-message">
        <% if(message!="") { %>
          <div class="alert alert-danger alert-dismissible fade show" role="success">
            <span><%= message %></span> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
             
          </div>
        <% } %>
      </div>
    </header>
    <form class="form-signin" method="POST" action="/register" id="register-form" name="register-fom">
      <img class="mb-4" src="Logo.png" alt="" width="150" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Register here</h1>
      <label for="email" class="sr-only">Username</label>
      <input type="username"  name="username" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="email" class="sr-only">Email address</label>
      <input type="email"  name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])\S{6,}" name="password" id="password" class="form-control" placeholder="Password" title="minimum 6 character, at least 1 number and 1 uppercase" required>
      <label for="password" class="sr-only"> Confirmation Password</label>
      <input type="password"  name="password2" id="password2" class="form-control" placeholder=" Confirmation Password" required>
      <label for="creator">Creator</label>
      <div class="form-check">
        <input type="checkbox" id = "creator" name="creator" class="form-check-input"/>
        <label class = "form-check-label" for ="creator"></label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>







<%- include('footer'); -%>


<!-- 

<main class="container-fluid mt-3">
    <div class="row">
      <div class="col-8 mx-auto">
        <form method="POST" action="/register" id="register-form" name="register-fom" class="col-6 mx-auto">            
          <div class="form-group">
              <label for="username">Username</label>
              <input type="username"  id ="username" name="username" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input   type="email"  id = "email" name="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"  pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])\S{6,}" id = "password" name="password" class="form-control"  title="minimum 6 character, at least 1 number and 1 uppercase"required />
          </div>
          <div class="form-group">
            <label for="password2">Password</label>
            <input type="password" id = "password2" name="password2" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="creator">Creator</label>
            <div class="form-check">
              <input type="checkbox" id = "creator" name="creator" class="form-check-input"/>
              <label class = "form-check-label" for ="creator">
                checkbox
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">register</button>
        </form>
      </div>
    </div>
</main>
-->