<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <!-- Custom CSS -->

    <link rel="stylesheet" href="/stylesheets/style.css">
   
    <!-- Custom JavaScript --> 
    <script defer src="/javascripts/register.js"></script> 

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
    <title><%= title ? `PodcastHub | ${title}` : 'PodcastHub'%></title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top   bg-dark ">
        <a href="/" class="navbar-brand ">PodcastHub <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-mic-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
          <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
        </svg></a> 
        <     
      </nav>
      <div id="alert-message">
        <% if(message!="") { %>
          <div class="alert alert-danger alert-dismissible fade show" role="success">
            <span><%= message %></span> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %>
      </div>
    </header>
    <main class="container" id="main-cont">
      <div class="row ">
        <h1 class="page-name  ">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg> Registration Page</h1>
      </div>
      <div class="my-3 p-3 bg-white rounded shadow-sm " >
        <img src="logo2.png" class="rounded mx-auto d-block img-fluid" alt="...">
    
      <form class="form-signin" method="POST" action="/register" id="register-form" name="register-fom">
       
        <h1 class="h3 mb-3 font-weight-normal text-center">Create Account</h1>

        <div class="form-group">
          <label for="email" class="sr-only">Username</label>
          <input type="username"  name="username" id="username" class="form-control" placeholder="Username" required autofocus>
          <small id="passwordHelpInline" class="text-muted">
            max 50 characters
          </small>
        </div>
        <div class="form-group">        
          <label for="email" class="sr-only">Email address</label>
          <input type="email"  name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])\S{6,}" name="password" id="password" class="form-control" placeholder="Password"  aria-describedby="passwordHelpInline"required>
            <small id="passwordHelpInline" class="text-muted">
              minimum 6 character, at least 1 number, 1 uppercase and 1 lowercase 
            </small>
        </div>
        <div class="form-group ">
          <label for="password" class="sr-only"> Confirmation Password</label>
        <input type="password"  name="password2" id="password2" class="form-control" placeholder=" Confirmation Password" required>
        </div>
        <div class="form-group form-inline">

          <input type="checkbox" id = "creator" name="creator" class="form-check-input"/>
          <label class = "form-check-label" for ="creator">Check if you are a Creator</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      </div>
    </main>
    

    <%- include('footer'); -%>

