<%- include('header', {title, active: 'Search'}); -%>




<main role="main">
  <section>
    <h3>Found podcasts</h3>
    <div class="row">
      <div class="col">
        <% podcasts.forEach((podcast) => { %>
          <%- include('podcast-partial', {podcast}); -%>
        <% }); %>
      </div>
    </div>
  </section>
  <section>
    <h3>Found episodes</h3>
                <% episodes.forEach((episode) => { %>
                  <%- include('episode-partial', {episode}); -%>
                <% }); %>
  </section>
</main>
<main class="container-fluid mt-3">
    
          
            <tbody>
              
            </tbody>
            <tbody>
                
              </tbody>      
    </div>
</main>

<%- include('footer'); -%>

