<%- include('header', {title, active: 'Search'}); -%>


<div class="container ">
  <div class="row  ">


  <main role="main" class="col">



    <h1 class="cat-name">Search results</h1>
      <div class="row justify-content-center">
        <h2>Podcasts</h2>
       
                <% podcasts.forEach((podcast) => { %>
                  <%- include('podcast-partial', {podcast}); -%>
                <% }); %>
           
            
        
      </div>
      <div class="row justify-content-center">
       
        <h2>Episodes</h2>
          <% episodes.forEach((episode) => { %>
            <%- include('episode-partial', {episode}); -%>
          <% }); %>
       
      
  
</div>
</main>
  
</div>
</div>



<%- include('footer'); -%>

