
  td
  {
   max-width: 20rem;
   max-height: fit-content;
   overflow:auto;
   text-overflow: ellipsis;
   white-space: 'pre';
  }

  .tableimage{
    height: fit-content;
    width:fit-content;
    object-fit: cover;

  }
 