.rightside-pannel{
    float: right;
    width: 20%;
    padding: 30px 10px;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
}
.card{
    background-color: teal;



  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

.card-img-top{
    height:60%;
    width:100%;
}

.card-desc{
    float: center;
    height:10%
}
.card-cat{
    float: center;
    height:50%
}
body{
    background-color: snow;

}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
