/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  


aside{
    float: left;
    position: fixed;
}
main{
    float:right;
    width:80%;
}

.navbar {
    margin-bottom: 20px;
    
  }



.card{
    background-color:white;
    height:20rem;
    max-width: 20rem;
    overflow:hidden;
    transition: 0.5s ease;
    cursor: pointer;
    margin:10px;
    border:5px;
}

.card-title{
    font-size: x-large;
    justify-content: center;
}
.card-desc{
    font-size: small;
}

.card-img-top{
    height:50%;
    width:100%;
    object-fit: cover;
}


.card:hover {
    transform: scale(1.10);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }


  td
  {
   max-width: 300px;
   max-height: fit-content;
   overflow:auto;
   text-overflow: ellipsis;
   white-space: nowrap;
  }


  
